

.item-card.card {
  margin: 12px;
  width: 160px;
  height: 200px
}

#inventory-items {
  padding: .5rem 20px 20px 20px;
}

#inventory-sidebar {
  background-color: rgba(255, 255, 255, 0.1);
}

#inventory-title {
  margin-bottom: 32px;
}
.item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-card .button {
  color:#C4820E;
  border-color: #C4820E;
  box-shadow: none !important;
  border-radius: 6px;
  padding: 8px 12px !important;
  margin: 4px !important;
}

.item-card .delete-button {
  color: crimson;
  border-color: crimson;
  box-shadow: none !important;
  border-radius: 6px;
  padding: 8px 12px !important;
  margin: 4px !important;
}


.item-count {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.item-img-placeholder {
  -webkit-filter: invert(50%);
  filter: invert(50%);
  opacity: 0.2;
  object-fit: cover;
}

.item-img-wrapper {
  width: 50%;
  margin: 12px auto 0 auto;
}

.item-name {
  margin: 0;
  height: 50px;
}

.list-group-item.active {
  z-index: 1;
  background-color: #003262;
}

.inventory-modal {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow:auto;
  background-color: rgba(0, 0, 0, 0.5)
}

.inventory-modal-content {
  background-color: #f4f4f4;
  margin: 5% auto;
  padding: 20px;
  width: 70%;
  z-index: 3;
  border-radius: 6px;
}

.list-dropdown {
  display: none;
}

.public-item {
  font-size: 2em;
  padding-bottom: 40px;
}

.closeBtn { 
  color: #cccccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
  cursor: pointer;
  color: #000000
}

.row {
  margin: 0 !important;
}

/* VIEW STYLES  */

#inventory .view-group {
  padding-bottom: 12px;

}
.view-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e3e3e3;
}

.view-item.active, .view-item.active:hover {
  color: #C4820E !important;
}
.view-item:hover {
  color: #acacac;
}

/* TABLE STYLES */
.inventory-table {
  display: none;
}

.inventory-table td{
  font-size: 1rem !important;
}

.inventory-table th {
  font-size: 1.125rem !important;
}

thead tr th:nth-child(2),
tbody tr td:nth-child(2) {
  width: 200px;
}

.inventory-table td a:hover,
.inventory-table td a:active {
  text-decoration: underline;
  color: #C4820E;
}

.inventory-table td .delete-button{
  color: crimson;
  border-color: crimson;
  box-shadow: none !important;
  border-radius: 6px;
  padding: 4px 6px !important;
  margin: 2px !important;
}

/* Card style for smaller screens */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .item-card.card {
    height: 150px;
    width: 100%;
  }

  .public-item {
    padding-bottom: 20px;
  }
}

/* Format of categories */
@media screen and (max-width: 576px) {
  .list-dropdown {
    display: block;
  }
  .list-group {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .item-card.card {
    height: 150px;
    width: 100%;
    min-width: 150px;
  }

  .public-item {
    padding-bottom: 20px;
  }
}